TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
IPADDR=172.25.250.66
PREFIX=24
GATEWAY=172.25.250.254
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=Wired Connection 1
UUID=d9b8d837-2616-491d-a5d7-2991470eb31c
DEVICE=eth0
ONBOOT=yes
