listen 83
<VirtualHost *:83>
        ServerName      localhost
        ServerAlias     servera.lab.example.com
        DocumentRoot    {{ docroot }}
        CustomLog       logs/localhost.access.log combined
        ErrorLog        logs/localhost.error.log
</VirtualHost>
<Directory {{ docroot }}>
Require all granted
</Directory>

