127.0.0.1  vagrant vagrant.localdomain vagrant4 vagrant4.localdomain4
::1     vagrant vagrant.localdomain vagrant6 vagrant6.localdomain6
127.0.1.1 workstation.test workstation
192.168.2.3	server1 server1.test
192.168.2.4	server2 server2.test
192.168.2.5	workstation workstation.test
